MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/config.rst
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage

*.swp
*.map
.idea/
.vscode/
Read the Docs
config.rst

/.project
/.pydevproject

package-lock.json

share/jupyter/voila/templates/base/static/*voila.js
share/jupyter/voila/templates/base/static/*treepage.js
share/jupyter/voila/templates/base/static/*voila-style.js
share/jupyter/voila/templates/base/static/*.woff
share/jupyter/voila/templates/base/static/*.woff2
share/jupyter/voila/templates/base/static/*.eot
share/jupyter/voila/templates/base/static/*.svg
share/jupyter/voila/templates/base/static/*.ttf
share/jupyter/voila/templates/base/static/labvariables.css
share/jupyter/voila/templates/base/static/materialcolors.css
share/jupyter/voila/templates/base/static/*.LICENSE.txt


lib

voila/labextension
tsconfig.tsbuildinfo

ui-tests/playwright-report
ui-tests/test-results
ui-tests/benchmark-results
ui-tests/jlab_root

.yarn/

share/jupyter/voila/schemas
share/jupyter/voila/themes
share/jupyter/voila/style.js
