MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/config.rst
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage

*.swp
*.map
.idea/
.vscode/
Read the Docs
config.rst

/.project
/.pydevproject

package-lock.json

share/jupyter/voila/templates/base/static/*voila.js
share/jupyter/voila/templates/base/static/*[woff|woff2|eot|svg]

lib

voila/labextension
tsconfig.tsbuildinfo

ui-tests/playwright-report
ui-tests/test-results
ui-tests/benchmark-results
ui-tests/jlab_root

tests/widget_lib/**/docs
tests/widget_lib/**/labextension
tests/widget_lib/**/nbextension/index.*