MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/config.rst
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage

*.swp
*.map
.idea/
Read the Docs
config.rst

/.project
/.pydevproject

package-lock.json

share/jupyter/voila/templates/nbconvert/static/index.css
share/jupyter/voila/templates/nbconvert/static/theme-light.css
share/jupyter/voila/templates/nbconvert/static/theme-dark.css
share/jupyter/voila/templates/default/static/*voila.js
share/jupyter/voila/templates/default/static/*[woff|woff2|eot|svg]

js/lib/
