include LICENSE.txt

include pyproject.toml


include tsconfig.json
include package.json
include webpack.config.js
include widget_lib/labextension/*.tgz


# Javascript files
graft widget_lib/nbextension
graft src
graft css
prune **/node_modules
prune coverage
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
