.wy-nav-content {
  max-width: 1000px;
  margin: auto;
}

.wy-nav-content img {
  margin: 5px auto 25px;
}

/*use voila palette for title coloring*/
html[data-theme='light'] {
  --pst-color-primary: #5dbcaf;
}

html[data-theme='dark'] {
  --pst-color-primary: #5dbcaf;
}
