name: Build JupyterLab extension

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
  - cron: "0 2 * * 1-5"  # run on weekdays at 2:00am UTC

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '12.x'
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install JupyterLab
      run: python -m pip install jupyterlab==1.2.7
    - name: Install the Voila Preview JupyterLab extension
      run: |
        cd packages/jupyterlab-voila
        jlpm && jlpm run build
        jupyter labextension install .
    - name: Browser check
      run: python -m jupyterlab.browser_check
