name: Check Release
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Upgrade packaging dependencies
        run: |
          pip install --upgrade jupyter-packaging~=0.10 --user

      - name: Install Dependencies
        run: |
          pip install .

      - name: Check Release
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version_spec: next

      - name: Upload Distributions
        uses: actions/upload-artifact@v2
        with:
          name: voila-releaser-dist-${{ github.run_number }}
          path: .jupyter_releaser_checkout/dist
