name: Packaging

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1

defaults:
  run:
    shell: bash -e {0}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        run: |
          python -m pip install setuptools jupyter_packaging~=0.10 "jupyterlab>=4,<5" build

      - name: Build pypi distributions
        run: |
          python -m build

      - name: Build npm distributions
        run: |
          pushd packages/jupyterlab-preview
          npm pack
          popd
          cp packages/*/*.tgz dist

      - name: Build checksum file
        run: |
          cd dist
          sha256sum * | tee SHA256SUMS

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: dist ${{ github.run_number }}
          path: ./dist

  install:
    runs-on: ${{ matrix.os }}
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-12, windows-latest]
        python: ['3.9', '3.13']
        include:
          - python: '3.9'
            dist: 'voila*.tar.gz'
          - python: '3.13'
            dist: 'voila*.whl'
          - os: windows-latest
            py_cmd: python
          - os: macos-12
            py_cmd: python3
          - os: ubuntu-latest
            py_cmd: python
    steps:
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - uses: actions/download-artifact@v4
        with:
          name: dist ${{ github.run_number }}
          path: ./dist
      - name: Install the prerequisites
        run: |
          ${{ matrix.py_cmd }} -m pip install pip wheel "jupyterlab>=4.0.0,<5" notebook~=6.4
      - name: Install the package
        run: |
          cd dist
          ${{ matrix.py_cmd }} -m pip install -vv ${{ matrix.dist }}
      - name: Validate environment
        run: |
          ${{ matrix.py_cmd }} -m pip freeze
          ${{ matrix.py_cmd }} -m pip check
      - name: Validate the install
        run: |
          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "@voila-dashboards/jupyterlab-preview.*enabled.*ok" -
          jupyter server extension list
          jupyter server extension list 2>&1 | grep -ie "voila.server_extension.*enabled" -
          jupyter nbextension list
          jupyter nbextension list 2>&1 | grep -ie "voila/extension.*enabled" -
          voila --version
          voila --help
