name: UI Tests

on: [push, pull_request]

jobs:
  ui-tests:
    name: Visual Regression
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ipywidgets: [7, 8]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        if: ${{ matrix.ipywidgets  == 7 }}
        run: |
          python -m pip install -r requirements-visual-test.txt
          python -m pip install jupyterlab_miami_nights --no-deps
          python -m pip install ".[test7]"

      - name: Install dependencies
        if: ${{ matrix.ipywidgets  == 8 }}
        run: |
          python -m pip install -r requirements-visual-test.txt
          python -m pip install jupyterlab_miami_nights --no-deps
          python -m pip install ".[test]"

      - name: Build voila
        run: |
          jlpm
          jlpm build
          jupyter labextension develop . --overwrite
          cd ui-tests
          jlpm install

      - name: Launch Voila
        run: |
          # Mount a volume to overwrite the server configuration
          jlpm start 2>&1 > /tmp/voila_server.log &
        working-directory: ui-tests

      - name: Install browser
        run: npx playwright install chromium
        working-directory: ui-tests

      - name: Wait for Voila
        uses: ifaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:8866/
          timeout: 360000

      - name: Test
        run: jlpm run test
        working-directory: ui-tests

      - name: Upload Playwright Test assets
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: voila-test-assets
          path: |
            ui-tests/test-results

      - name: Upload Playwright Benchmark report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: voila-benchmark-report
          path: |
            ui-tests/benchmark-results

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: voila-test-report
          path: |
            ui-tests/playwright-report

      - name: Print Voila logs
        if: always()
        run: |
          cat /tmp/voila_server.log
